@media (max-width:1366px) {
  .sec-box {
    margin-bottom: 120px;
    /* max-width: 904px; */
  }

  .sec-box {
    padding: 0 60px;
    margin-bottom: 113px;
  }
  nav .profile-dropdown {
      margin-left: 22px;
  }
  .mt-90{

  }
  .all-articles-sec{

margin-bottom: 106px;

}
  .news-sec{

margin-top: 25px;

}
  .news-sec .hh{

max-width: 58.5%;
}
.news-sec .ll{

max-width: calc(41.5% - 1px);

margin-left: auto;
}
  .news-sec .highlighted-news>div {
    height: 468px;
  }
  .news-sec .highlighted-news .info{
    padding-top: 18px 20px;
  }
.news-sec .highlighted-news .info h1 a,
.news-sec .highlighted-news .info h1{

font-size: 18px;
}
  .news-sec .highlighted-news .info>a{
    font-size: 14px;
    padding-right: 24px;
  }
  .news-sec .highlighted-news .info .share{
  }
  .news-sec .highlighted-news .info .share a img{
    width: 16px;
    margin-bottom: 0px;
  }
  .news-sec .highlighted-news .info p{
    /* margin-top: 0px; */
    /* transform: translateY(5px); */
    font-size: 14px;
  }
  .news-sec .highlighted-news .img {
    min-height: 296px;
    border-radius: 15px 15px 5px 5px;
  }

  .news-sec .list-news .list-news-item {
    margin-bottom: 20px;
  }

  .news-sec .list-news .list-news-item>div {
    height: 92px;
  }

  .news-sec .list-news .list-news-item .img>div {
    min-width: 161px;
    height: 92px;
    max-width: 161px;
  }
.news-sec .list-news .list-news-item .info{
  padding: 12px;
}
  .news-sec .list-news {
    padding: 20px;
  }

  .sec-heading {
    margin-bottom: 32px;
  }
.nav-pills{
  margin-bottom: 29px;
  padding: 0 53px;
}
  .sec-heading img{
    /* margin-right: 20px; */
    transform: translateY(-4px);
  }
  .nav-pills li a {
    font-size: 14px;
    padding: 0 15px;
  }

  .article-list .article-item>div {
    flex-direction: column;
    /* width: 231px; */
    /* height: 277px; */
    background: none;
    overflow: hidden;
    width: 288px;
    height: 332px;
  }

  .article-list .article-item .img>div {
    /* max-width: 231px; */
    /* height: 132px; */
    border-radius: 15px;
    max-width: 288px;
    height: 165px;
  }

  .article-list .article-item {
    /* margin-right: 16px; */
    /* margin-bottom: 0; */
    /* background: #FFFFFF; */
    /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05); */
    /* border-radius: 10px; */
    /* width: 288px; */
    /* height: 332px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 10px;
  }

  .article-list .article-item ::nth-last-of-type(1) {
    margin-right: 0;
  }

  .article-list .article-item .info {
    height: 100%;
    margin: 0;
    padding: 11px 20px 16px 20px;
  }
.article-list .article-item .info h1 a,
  .article-list .article-item .info h1 {
    font-size: 14px;
    max-height: 450%;
    -webkit-line-clamp: 3;
  }
  .article-list .article-item .info .share{
    margin-top: 4px;
  }
.pagination{
  margin-top: -2px;
}
  .pagination ul li{
    /* margin-bottom: 0px; */
  }
  .article-list .article-item .info a {
    width: fit-content;
    overflow: visible;
    position: relative;
    display: block;
    padding-right: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    /* Kon */
    color: #373F66;
    margin-bottom: 5px;
  }

  .article-list .article-item .info a span {
    display: block;
  }

  .article-list .article-item .info .share a {
    display: block;
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    padding: 0;
  }

  .article-list .article-item .info a::after {
    right: 0;
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .article-list .article-item .info a::before {
    background: #373F66;
    height: 0.5px;
    width: calc(100% + 0px);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .article-list .article-item .info .share {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  .article-list .article-item .info p {
    width: fit-content;
    font-size: 14px;
  }

  .article-list .article-item .info .share a::after {
    display: none;
  }

  .article-list .article-item .info .share a img {
    width: 16px;
    transform: translateX(3px);
  }

  .article-list .article-item .img>div {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .article-list .article-item :nth-last-of-type(1) {
    /* margin-right: 0; */
  }

  .article-list {
    margin-left: -10px;
    margin-right: 10px;
    width: calc(100% + 20px);
  }

  .popular-articles-list .popular-article-item {
    width: 315px !important;
    height: 324px;
    margin: 0 10px;
  }
.popular-articles-list .popular-article-item .info{
  height: 143px;
}
  .popular-articles-list .popular-article-item .info a::before{
    bottom: -2px;
  }
  .popular-articles-list .popular-article-item .img>div {
    width: 315px;
    height: 180px;
  }

  .popular-articles-list .popular-article-item .info p,
  .popular-articles-list .popular-article-item .info h1 {
    font-size: 14px;
  }

  .popular-articles-list .popular-article-item .info a {
    font-size: 12px;
  }
  .other-articles .other-article-item{
    max-width: 273px;
  }

  .facebook-page {
    max-width: 300px;
  }

  .facebook-posts {
    max-height: 509px;
    max-width: 300px;
  }

  .slider {
    /* transform: translateY(-82px); */
    /* margin-bottom: -100px; */
  }

  .slider ul {
    /* margin-top: 80px; */
  }

  .slider .lSAction>a {
    width: 30px;
    height: 30px;
  }

  .slider .lSAction {
    top: 25px;
  }

  .slider .lSAction a.lSPrev {
    margin-right: 16px;
  }

  .g-btn {
    font-size: 18px;
    height: 46px;
  }

  .g-btn .right {
    width: 32px;
  }

  .listing-banner {
    width: 300px;
  }

  .h-16-14,
  .g-input {
    font-size: 14px;
  }

  .protected-card>div {
    width: 288px;
    height: 304px;
  }
  .protected-card .img{
    width: 248px;
  height: 140px;
  border-radius: 5px;
  margin-bottom: 18px;
  }
  .highlighted-news .arrows{
    top: 36%;
  }
  .news-sec .list-news .list-news-item .info a::after{bottom: 17px;right: 14px;}

.news-m-sec{

padding-bottom: 0px;

margin-bottom: 112px;
}
.slick-prev,
.slick-next{

width: 30px;

height: 30px;

top: -56px;
}
.slick-next{
right: 0;
}
.slick-prev{right: 46px;}
}














@media only screen and (max-width:1023px) {
  nav {
    padding: 12px 0 !important;
  }

  .mt-90 {
    margin-top: 60px;
  }

  .news-heading {
    font-weight: 700;
    font-size: 42px;
  }

  .news-heading img {
    width: 79px;
  }

  .sec-box {
    margin-bottom: 76px;
  }

  .sec-box {
    padding: 0 16px;
  }
.all-articles-sec{
  margin-bottom: 66px;
}
  /* .news-sec .highlighted-news {
    display: none;
  } */

  .news-sec .list-news {
    display: flex;
    flex-direction: row;
    padding: 0;
    background: transparent;
    flex-wrap: nowrap;
    max-width: calc(100% - 1px);
    overflow-x: scroll;
    border-radius: 0;
  }

  .news-sec .list-news .list-news-item>div {
    flex-direction: column;
    width: 231px;
    height: 277px;
    background: none;
    overflow: hidden;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  }

  .news-sec .list-news .list-news-item .img>div {
    min-width: 231px;
    height: 132px;
    ;
  }

  .news-sec .list-news {
    box-shadow: none;
    overflow: visible;
  }

  .news-sec .list-news .list-news-item {
    margin: 0 8px;
    margin-bottom: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    width: 231px !important;
    height: 277px;
  }

  .news-sec .list-news .list-news-item::nth-last-of-type(1) {
    margin-right: 0;
  }

  .news-sec .list-news .list-news-item .info {
    height: 100%;
    padding: 9px 10px 11px 10px;
  }

  .news-sec .list-news .list-news-item .info h1 {
    font-size: 14px;
    max-height: 450%;
    -webkit-line-clamp: 3;
  }

  .news-sec .list-news .list-news-item .info a {
    width: fit-content;
    overflow: visible;
    position: relative;
    display: block;
    padding-right: 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    /* Kon */
    color: #373F66;
    margin-bottom: 10px;
  }
  /* .news-sec .list-news .list-news-item .info a::before,
  .news-sec .list-news .list-news-item .info a::after{
    display: block;
  } */
  .news-sec .list-news .list-news-item .info a::before,
  .news-sec .list-news .list-news-item .info a::after {
    /* display: none !important; */
  }

  .news-sec .list-news .list-news-item .info a span {
    display: block;
  }

  .news-sec .list-news .list-news-item .info .share a {
    display: block;
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    padding: 0;
    margin-bottom: 1px;
    margin-right: 1px;
  }

  .news-sec .list-news .list-news-item .info a::after {
    right: 0;
    right: 0;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .news-sec .list-news .list-news-item .info a::before {
    background: #373F66;
    height: 0.5px;
    width: calc(100% + 0px);
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .news-sec .list-news .list-news-item .info .share {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .news-sec .list-news .list-news-item .info p {
    width: fit-content;
  }

  .news-sec .list-news .list-news-item .info .share a::after {
    display: none;
  }

  .news-sec .list-news .list-news-item .info .share a img {
    width: 16px;
  }

  .news-sec .list-news .list-news-item .img>div {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .news-sec .list-news .slick-slide:nth-last-of-type(1) .list-news-item{
    margin-right: 0;
  }
 .news-sec .list-news .slick-slide:nth-of-type(1) .list-news-item{
    margin-left: 0;
    box-shadow: none;
  }
  .other-articles .sec-heading{
    margin-bottom: 9px;
  }
  .sec-heading {
    margin-bottom: 22px;
    font-size: 20px;
  }

  .sec-heading img {
    height: 20px;
    width: 6px;
    margin-right: 12px;
    transform: translateY(-2px);
  }
.nav-pills>ul{
  justify-content: space-between;
}
  .nav-pills {

background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 80%, rgba(255, 255, 255, 0.5) 91.83%);

height: 50px;

border-radius: 10px;

padding: 0 8px;

margin-bottom: 25px;

}

  .article-list .article-item .info {
    padding: 12px 12px 8px 12px;
  }

  .article-list .article-item,
  .article-list .article-item .img>div {
    border-radius: 10px;
  }
  .article-list .article-item>div{
    height: 306px;
  }

  .pagination ul li a {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
.pagination ul li a img{height: 8px;}
  .pagination ul li {
    margin: 8px;
  }

  .popular-articles-list .popular-article-item {
    width: 231px !important;
    height: 244px;
  }

  .popular-articles-list .popular-article-item .img>div {
    width: 231px;
    height: 132px;
  }

  .popular-articles-list .popular-article-item .info {
    padding: 10px 13px;
    height: auto;
  }

  .popular-articles-list .popular-article-item .info p {
    font-size: 12px;
    padding: 0 0px;
  }

  .popular-articles-list .popular-article-item .info a::before {
    display: none;
  }

  .popular-articles-list .popular-article-item .info a span {
    display: none;
  }

  .other-articles .other-article-item {
    padding: 12px;
    margin: 15px auto;
    min-width: 288px;
    height: 168px;
  }
footer{
  margin-top: 65px !important;
  border-radius: 10px 10px 0 0;
  padding: 22px 0 !important;
  background-size: 1367px;
}
  footer .footer-item ul.collapse {
    display: none;
    margin: 6px 0 39px 0;
  }

  footer .footer-item ul.collapse.show {
    display: block;
  }

  footer .footer-item button {
    font-size: 14px;
    pointer-events: all;
    position: relative;
    width: 100%;
    text-align: left;
  }

  footer .footer-item button::after {
    content: "";
    background-image: url('../images/icons/footer-up.svg');
    width: 8px;
    height: 6px;
    background-position: center;
    background-size: contain;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
    transform: rotate(180deg);
    transition: transform 0.4s;
  }

  footer .footer-item button[aria-expanded="true"]::after {
    transform: rotate(0deg);
  }

  footer .footer-item {
    margin-bottom: 28px;
  }

  footer .footer-item ul {
    /* margin-bottom: 25px; */
  }

  .facebook-posts {
    max-height: 294px;
  }

  footer .footer-bottom>div {
    margin-top: 42px;
    padding: 15px 0 20px 0;
  }
footer .footer-bottom>div ul li{
  margin-left: 12px;
}
  footer .footer-bottom .logo-side img {
    width: 124px;
    height: auto;
  }footer .footer-bottom{
    padding: 0 16px;
  }
  .facebook-posts{
    max-width: 286px;
  margin: 10px auto;
  }
.facebook-page{
  max-width: 286px;
  margin: auto;
}
  .slider {
    /* transform: translateY(-80px); */
    /* margin-bottom: -90px; */
  }

  .slider ul {
    /* margin-top: 70px; */
  }

  .slider .lSAction>a {
    width: 26px;
    height: 26px;
    background-size: 7px;
  }

  .slider .lSAction {
    top: 34px;
  }

  .slider .lSAction a.lSPrev {
    margin-right: 8px;
  }

  .h-16 {
    font-size: 14px;
    font-weight: 400;
  }

  .g-btn {
    font-size: 12px;
    height: 40px;
    padding: 12px;
  }

  .g-btn .right {
    width: 12px;
  }

  .listing-banner {
    width: 284px;
    margin: auto;
    margin-top: 30px;
  }

  .card-shadow {
    border-radius: 10px;
  }
  .protected-card>div{
    width: 288px;
height: 294px;
padding: 12px;
  }
  .protected-card .img{
    width: 265px;
height: 149px;
border-radius: 10px;
margin-bottom: 14px;
  }
  .news-sec .highlighted-news .info{
    padding: 17px 20px;
  }
  .slick-prev, .slick-next{

width: 26px;

height: 26px;
  }
  .slick-prev img, .slick-next img{
    width: 5px;
  }
  .news-m-sec .slick-prev,
  .news-m-sec .slick-next{

top: 24px;
}
.news-m-sec .slick-next{

}
.slick-prev{

right: 35px;
}
  .popular-articles-list .slick-prev,
  .popular-articles-list .slick-next{
    top: -44px;
  }
.nav-pills li{

}
.nav-pills li a {
    font-size: 12px;
    padding: 0 10px;
}
.nav-pills li a::after{

bottom: -17px;
}
  .popular-articles-list{
    margin-top: 28px;
  }
}
